---
import AuthorCard from '@/components/AuthorCard.astro'
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts, getAllAuthors } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
const authors = await getAllAuthors()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />

  <section>
    <ul class="flex flex-col gap-4">
      {authors.map((author) => (
        <li>
          <AuthorCard author={author} />
        </li>
      ))}
    </ul>

    <div class="flex flex-col space-y-1.5 p-6">
      <h3 class="text-3xl leading-none font-medium">no·pal</h3>
      <p class="text-muted-foreground text-sm">
        /ˈnōp(ə)/ &bull; <span class="font-medium">noun</span>
      </p>
    </div>

    <div class="p-6 pt-0">
      <p class="text-muted-foreground mb-2 text-sm">
        So, my name’s kinda like that cactus from <Link
          href="https://en.wikipedia.org/wiki/Nopal"
          class="text-foreground"
          external
          underline>Mexico</Link
        >. Don’t really know what I’ve got in common with a cactus—maybe the whole  <span class="text-foreground font-medium">“tough and patient”</span> thing? Haha, sounds a bit extra, huh?
      </p>
      <p class="text-muted-foreground text-sm">
        Anyway, whatever my name means <em>(or doesn’t)</em>, this blog’s basically my personal space to spill thoughts, opinions, and random stuff I’m into.
      </p>
    </div>
  </section>

  <section class="flex flex-col gap-y-4">
    <div class="flex flex-col">
      <h2 class="text-3xl leading-none font-medium mb-[0px]">latest</h2>
      <p class="text-[0.72rem] leading-tight tracking-tight text-muted-foreground">
        /ˈlādəst/ &bull; <span class="font-medium">noun</span>
      </p>
    </div>

    <ul class="flex flex-col gap-y-4">
      {blog.map((post) => (
        <li>
          <BlogCard entry={post} />
        </li>
      ))}
    </ul>

    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>